<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>250369902905-qhi1vcmbdc0u2e0bna5kkebs57e2nqvg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250369902905-qhi1vcmbdc0u2e0bna5kkebs57e2nqvg</string>
	<key>API_KEY</key>
	<string>AIzaSyCsyo5stItGJsNcmhmnZ7g2f5MVhLbORaU</string>
	<key>GCM_SENDER_ID</key>
	<string>250369902905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.oregonstate.reedz.wasteagram</string>
	<key>PROJECT_ID</key>
	<string>wastegram-40534</string>
	<key>STORAGE_BUCKET</key>
	<string>wastegram-40534.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250369902905:ios:d6835af6f773bd414900e8</string>
	<key>DATABASE_URL</key>
	<string>https://wastegram-40534.firebaseio.com</string>
</dict>
</plist>